body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.banner-home {
    background-image: url(./images/banner-homepage-new.jpg);
    height: 350px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.banner-golden-age {
    background-image: url(./images/banner-golden-age.jpg);
    height: 350px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.assesment input {
    border-radius: 15px;
}

.banner-team {
    background-image: url('./images/tim.jpg');
    max-height: 450px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.banner-team ul {
    line-height: 20px;
}

.banner-team li {
    list-style-type: none
}

.profile-team li {
    font-size: 13px;
}